body {
    margin: auto;
    max-width: 800px;
}

.letter-header {
    margin-left: 70%;
}

.time-header {
    margin: 20px 0 20px 70%;
}

footer {
    display: flex;
}

.info-footer {
    font-size: 12px;
    color: blue;
    border: 2px solid black;
}